DATABASE_URL=postgresql://user:pass@ep-xxxx-pooler.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_UNPOOLED=postgresql://user:pass@ep-xxxx.us-east-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=change-this-to-a-random-64-character-string-for-production-use
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
PUBLIC_WA_ADMIN=62895401426305
PUBLIC_SITE_URL=https://pusat-mlbb.vercel.app
PUBLIC_GOOGLE_SITE_VERIFICATION=
